<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuanger.springbootexample.idGenerator.dao.IdGeneratorMapper">
    <insert id="generateId" useGeneratedKeys="true" keyProperty="id" parameterType="com.shuanger.springbootexample.idGenerator.domain.IdGeneratorEntity">
        REPLACE INTO tb_id_generator (prefix) VALUES (#{prefix});
    </insert>
</mapper>